<div class="card">
  <div class="card-header">
    انبار نفت
  </div>
  <div class="card-body">
    <div class="mb-3">
      <button class="btn btn-primary ml-2" (click)="openModal()">
        جدید
        <i class="fas fa-plus mr-2"></i>
      </button>
      <button class="btn btn-secondary ml-2" (click)="toggleSearch()">
        جستجو
        <i class="fas fa-search mr-3"></i>
      </button>

      نوع انبار:
      <app-select-with-search
        [default]="{id: '0', name:'همه'}"
        [service]="depoTypeSrv"
        [selectedId]="depoTypeId"
        (selectedChanged)="filterByDepoType($event.id)">
      </app-select-with-search>

    </div>
    <app-data-table
      [data]="depos"
      [columns]="columns"
      [searchField]="showSearchField"
      [loading]="loading"
      [sorting]="sorting"
      [loadingFailed]="loadingFailed"
      [hasLinksField]="4"
      [fieldsToAvoidOnTable]="fieldsNotToShow"
      (editItem)="openModal($event)"
      (removeItem)="onRemoveItem($event)"
      (activeChanged)="onToggleStatus($event)"
      (paramsChanged)="paramsChanged()">
    </app-data-table>
  </div>
  <mat-progress-bar *ngIf="loading" mode="indeterminate"></mat-progress-bar>
</div>
