<h1>{{ title }}</h1>
<form #f="ngForm" (ngSubmit)="submit()">
  <mat-form-field appearance="fill">
    <mat-label>عنوان</mat-label>
    <input type="text" name="name" autocomplete="off" [(ngModel)]="data.name" matNativeControl>
  </mat-form-field>
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary ml-2" [mat-dialog-close]="submitted">بستن</button>
    <button class="btn btn-primary d-flex" type="submit">
      <div>ثبت</div>
      <app-loading-spinner-bars
      color="white"
      style="height: 25px"
      class="mr-2"
      *ngIf="reachingOut"></app-loading-spinner-bars>
    </button>
  </div>
</form>
