<h1>{{ title }}</h1>
<form #f="ngForm" (ngSubmit)="submit()">
  <div class="row">
    <div class="col-sm-6">
      <mat-form-field appearance="fill">
        <mat-label>کد انحصاری انبار</mat-label>
        <input matNativeControl type="number" name="gcode" [(ngModel)]="data.gcode">
      </mat-form-field>
      <app-select-with-search
        [selectedId]="data.cityId"
        [service]="locationSrv"
        label="ناحیه اصلی انبار"
        (selectedChanged)="setLocation($event.id)">
      </app-select-with-search>
    </div>
    <div class="col-sm-6">
      <mat-form-field appearance="fill">
        <mat-label>عنوان</mat-label>
        <input matNativeControl autocomplete="off" type="text" name="name" [(ngModel)]="data.name">
      </mat-form-field>
      <app-select-with-search
        [selectedId]="data.ndepoTypeId"
        [service]="depoTypeSrv"
        label="نوع انبار"
        (selectedChanged)="setDepoType($event.id)">
      </app-select-with-search>
    </div>
  </div>
  <div class="d-flex justify-content-end">
    <button class="btn btn-secondary ml-2" [mat-dialog-close]="submitted">بستن</button>
    <button class="btn btn-primary d-flex" type="submit">
      <div>ثبت</div>
      <app-loading-spinner-bars
      color="white"
      style="height: 25px"
      class="mr-2"
      *ngIf="reachingOut"></app-loading-spinner-bars>
    </button>
  </div>
</form>
