<nav class="sidebar sticky-right">
  <ul class="nav-menu">
    <li class="menu-item">
      <a routerLink="depo" routerLinkActive="active" class="menu-link">
        <i class="fas fa-gas-pump align-self-center ml-2"></i>
        انبار نفت
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="depo-type" routerLinkActive="active" class="menu-link">
        <i class="fas fa-clipboard-list align-self-center ml-2"></i>
        نوع انبار نفت
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="location" routerLinkActive="active" class="menu-link">
        <i class="fas fa-map-marker-alt align-self-center ml-2"></i>
        ناحیه
      </a>
    </li>
  </ul>
</nav>
