<nav class="sidebar sticky-right">
  <ul class="nav-menu">
    <li class="menu-item">
      <a routerLink="depo" routerLinkActive="active" class="menu-link">
        <!-- <i class="fas fa-gas-pump align-self-center ml-2"></i> -->
        انبار نفت
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="depo-type" routerLinkActive="active" class="menu-link">
        <!-- <i class="fas fa-clipboard-list align-self-center ml-2"></i> -->
        نوع انبار نفت
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="location" routerLinkActive="active" class="menu-link">
        <!-- <i class="fas fa-map-marker-alt align-self-center ml-2"></i> -->
        ناحیه
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="barname" routerLinkActive="active" class="menu-link">
        بارنامه
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="contractor" routerLinkActive="active" class="menu-link">
        پیمانکار
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="customer" routerLinkActive="active" class="menu-link">
        مشتری
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="depo-work-shift" routerLinkActive="active" class="menu-link">
        شیفت کاری مرکز سوخت گیری
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="havaleh" routerLinkActive="active" class="menu-link">
        حواله
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="naftkesh" routerLinkActive="active" class="menu-link">
        نفت کش
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="permit" routerLinkActive="active" class="menu-link">
        پروانه
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="permit-type" routerLinkActive="active" class="menu-link">
        نوع پروانه
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="product" routerLinkActive="active" class="menu-link">
        فرآورده
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="send-type" routerLinkActive="active" class="menu-link">
        نوع ارسال
      </a>
    </li>
    <li class="menu-item">
      <a routerLink="zemanat-nameh-type" routerLinkActive="active" class="menu-link">
        نوع ضمانتنامه
      </a>
    </li>
  </ul>
</nav>
